{{- if .Values.pullSecret.enabled }}

apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: external-{{ .Values.pullSecret.secretName }}
  labels:
    app: {{ template "application.name" . }}
    chart: {{ template "application.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: {{ .Values.vaultStorage }}
    kind: SecretStore
  target:
    name: {{ .Values.pullSecret.secretName }}
    template:
      type: kubernetes.io/dockerconfigjson
      data:
        {{ .Values.pullSecret.secretKey }}: |
          {"auths":{"{{`{{ .registry2Host }}`}}":{"username":"{{`{{ .registry2User }}`}}","password":"{{`{{ .registry2Password }}`}}"}}}

  data:
    - secretKey: registry2Host
      remoteRef:
        key: {{ .Values.vault.registry2.host.key }}
        property: {{ .Values.vault.registry2.host.property }}
    - secretKey: registry2User
      remoteRef:
        key: {{ .Values.vault.registry2.user.key }}
        property: {{ .Values.vault.registry2.user.property }}
    - secretKey: registry2Password
      remoteRef:
        key: {{ .Values.vault.registry2.password.key }}
        property: {{ .Values.vault.registry2.password.property }}

{{- end }}
---
apiVersion: v1
data:
  {{ .Values.vaultKey }}: cm9vdA==
kind: Secret
metadata:
  name: {{ .Values.vaultSecret }}
  labels:
    app: {{ template "application.name" . }}
    chart: {{ template "application.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
type: Opaque
---
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: {{ .Values.vaultStorage }}
  labels:
    app: {{ template "application.name" . }}
    chart: {{ template "application.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  provider:
    vault:
      server: "http://vault-internal.vault.svc.cluster.local:8200"
      path: "secret"
      version: "v2"
      auth:
        tokenSecretRef:
          name: "{{ .Values.vaultSecret }}"
          key: "{{ .Values.vaultKey }}"
